body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: antiquewhite;
    text-align: left;
    font-weight: lighter;
    font-size: larger;
}

span{
    color: green;
    font-weight: bolder;
}

.text_container{
    margin-left: 20%;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0 25px;
    height: 50px;
    width: 175px;
}